SECRET_KEY=hK_X1NnfhDlFf3XBdnB2jIeLm6mFdzcDjV6FUZt8FSi4hLMNpzWnxl6QCKuYDfw2V7o
DEBUG=True
DB_NAME=redsquare
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:5173




